.hide
  display none !important
.mg-visible.statistics
  margin 14

.modal
  .content
    overflow-y auto

.full-height
  height 100%

.explorer-view
  margin-top 40px
  margin-bottom 40px

#bottom-menu
  overflow-x auto
