.link
  stroke: #999999
  stroke-width 3px
  
.node
  .circle
    stroke #000000
  .label
    font-size 15px
    font-family sans-serif

.hide
  display none !important
    
#legend
  overflow auto
  max-height 310px
  text
    font-size 15px
    font-family sans-serif
  
.modal
  .content
    overflow-y auto