doctype html
html
  head
    title Data Explorer
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")

    link(rel="stylesheet", href="/lib/semantic-ui/dist/semantic.min.css")
    link(rel="stylesheet", href="/lib/ionrangeslider/css/normalize.css")
    link(rel="stylesheet", href="/lib/ionrangeslider/css/ion.rangeSlider.css")
    link(rel="stylesheet", href="/lib/ionrangeslider/css/ion.rangeSlider.skinFlat.css")

    link(rel="stylesheet", href="/css/styles.css")

    script(src="/lib/react/react.js")
    script(src="/lib/react/JSXTransformer.js")
    script(src="/lib/jquery/dist/jquery.min.js")
    script(src="/lib/semantic-ui/dist/semantic.min.js")
    script(src="/lib/socket.io-client/socket.io.js")
    script(src="/lib/object-hash/dist/object_hash.js")
    script(src="/lib/Chart.js/Chart.min.js")
    script(src="/lib/vivagraphjs/dist/vivagraph.min.js")
    script(src="/lib/ionrangeslider/js/ion.rangeSlider.min.js")
    script(src="/cdn/js/app.js")

    script(src="/cdn/js/services/config.service.js")
    script(src="/cdn/js/services/Socket.service.js")
    script(src="/cdn/js/services/Storage.service.js")
    script(src="/cdn/js/services/Model.service.js")

    script(src="/cdn/js/models/Node.model.js")
    script(src="/cdn/js/models/Edge.model.js")
    script(src="/cdn/js/models/NodeType.model.js")
    script(src="/cdn/js/models/Entity.model.js")
    script(src="/cdn/js/models/Graph.model.js")

    script(src="/cdn/js/ReactComponents/Helpers.js")
    script(src="/cdn/js/ReactComponents/ChartHeader.js")
    script(src="/cdn/js/ReactComponents/EntitiesList.js")
    script(src="/cdn/js/ReactComponents/EntityModal.js")
    script(src="/cdn/js/ReactComponents/EntityTable.js")
    script(src="/cdn/js/ReactComponents/HistogramChart.js")
    script(src="/cdn/js/ReactComponents/PieChart.js")
    script(src="/cdn/js/ReactComponents/HistogramTable.js")
    script(src="/cdn/js/ReactComponents/OverviewTable.js")
    script(src="/cdn/js/ReactComponents/GraphInformation.js")
    script(src="/cdn/js/ReactComponents/PersonIDCard.js")

    script(src="/cdn/js/WebGLComponents/models.js")
    script(src="/cdn/js/WebGLComponents/Node.shader.js")

    script(src="/cdn/js/viewModels/Statistics.viewmodel.js")
    script(src="/cdn/js/viewModels/Entity.viewmodel.js")
    script(src="/cdn/js/viewModels/Graph.viewmodel.js")

    script(src="/cdn/js/controllers/DomController.controller.js")

    script(src="/cdn/js/controllers/GraphController.controller.js")
    script(src="/cdn/js/controllers/EntityController.controller.js")
    script(src="/cdn/js/controllers/StatisticsController.controller.js")

    script(src="/cdn/js/controllers/StatusController.controller.js")


  body
    #sidebar.ui.inverted.labeled.icon.left.inline.vertical.sidebar.menu
      .item.link(data-toggle-view="entity")
        i.grid.layout.icon
        span.text Entity view
      .item.link(data-toggle-view="graph")
        i.fork.icon
        span.text Graph view
      .item.link(data-toggle-view="statistics")
        i.bar.chart.icon
        span.text Statistics view

    .ui.padded.centered.grid.pusher
      .top-menu.ui.top.fixed.inverted.menu
        .right.aligned.item.settings-visibility-toggle.link
          i.icon.options
          span.text Hide settings
      .explorer-view(data-view="entity")
        .content.explorer-view-content#entity-container
          .ui.grid.container
            .three.wide.column
              .ui.vertical.fluid.tabular.menu
                a.active.item(data-tab="Query") Query
                a.item(data-tab="Search") Search
            .thirteen.wide.column
              .ui.active.tab.grid.stackable.container.query(data-tab="Query")
                .five.wide.column
                  form.ui.form
                    .field
                      label Query
                      textarea(placeholder="Input your query here") select ?p where { ?p a grz-owl:Person }
                    button.ui.positive.submit.button Query
                    .variables
                .eleven.wide.column.entities-list
              .ui.tab.segment(data-tab="Search")
                .search.ui.fluid.icon.input
                  input.prompt(type="text" placeholder="Search person")
                  i.search.icon
                .results

      .explorer-view.full-height(data-view="graph" style="width: 100%;")
        .content.explorer-view-content#graph-container
          .ui.grid.full-height
            .webgl-wrapper.full-height.left.aligned
            .four.wide.column.ui.left.aligned.segment.graph-settings.full-height
              form.ui.form.fluid
                .field
                  label Select time range
                  input.rangeSlider(type="text" data-type="double" data-min-interval="2" slide-on="years")
                button.ui.basic.submit.button
                  i.refresh.icon
                  | Refresh
                button.graph-pause-play.ui.basic.icon.button(style="float: right;")
                  i.pause.icon
              .row.statistics-wrapper

      .explorer-view(data-view="statistics")
        .content.explorer-view-content#statistics-container
          .ui.grid
            .ui.stackable.container.grid#statistics-dashboard
              .row
                .column#graph-overview
              .ui.equal.width.equal.height.row
                .column#classes-overview
                .column#properties-overview

            .ui.stackable.centered.container.equal.width.equal.height.grid.hide#statistics-archives
              .row#archives-numeric-info

              .row
                .column#archives-contracts-year
                .column#archives-contracts-register

              .row
                .column#archives-folia-year
                .column#archives-folia-register
            .ui.stackable.centered.container.equal.width.equal.height.grid.hide#statistics-people
              .row#people-numeric-info

              .row
                .column#people-roles-mentions
                .column#people-mentions-entity

      .bottom-menu.ui.bottom.fixed.inverted.menu.borderless
        #sidebar-toggle.item.icon.link
          i.block.layout.icon.inverted
        .item.statistics-selection.link.active(stats-click="dashboard")
          i.dashboard.icon
          span.text Dashboard
        .item.statistics-selection.link(stats-click="archives")
          i.book.icon
          span.text Archives
        .item.statistics-selection.link(stats-click="people")
          i.users.icon
          span.text People
        .item.statistics-selection.link(stats-click="professions")
          i.spy.icon
          span.text Professions
        .item.statistics-selection.link(stats-click="economics")
          i.euro.icon
          span.text Economics
        .item.statistics-selection.link(stats-click="charges")
          i.retweet.icon
          span.text Charges
        .item.statistics-selection.link(stats-click="events")
          i.calendar.icon
          span.text Events
        .item.statistics-selection.link(stats-click="geographics")
          i.marker.icon
          span.text Geographics
        .item
          #status-loader.ui.loader.inverted
        .item
          #status-text.text.inverted Status

    #loader-dimmer.ui.dimmer
      .content
        .center
          h2.ui.inverted.icon.header
            .ui.loader.inverted.text.active
              span.text Loading...

    #entity-modal.ui.modal
      i.close.icon
      .ui.center.aligned.header
      .content.ui.grid.container
    #statistics-modal.ui.modal
      i.close.icon
      .header
      .content.ui.grid.container
