doctype html
html
  head
    title Data Explorer
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")

    link(rel="stylesheet", href="/lib/semantic-ui/dist/semantic.min.css")

    script(src="/lib/jquery/dist/jquery.min.js")
    script(src="/lib/semantic-ui/dist/semantic.min.js")

  body
    .ui.padded.stackable.grid
      .ui.grid.center.aligned.page(style="background-color: #1b1c1d;")
        .row
          h1.ui.header.inverted(style="padding-top: 50px; text-align:justify; font-size: 3em !important;") Accordi dei Garzoni
        .row
          .ui.segment.inverted
            .ui.image.right.floated
              img(src="img/logo.jpg")
            p.text(style = "font-size: 1.1em; text-align:justify") The <i>Accordi dei Garzoni</i> document series consists of several thousands of apprenticeship contracts recorded from 1573 to 1772 in Venice. Composed of 30 registers kept at the Venetian State Archive, this document series offers a rich body of information and thereby bears the potential of unveiling many aspects of e.g. the economy of apprenticeship, the transmission of skills and worker migration flows during modern times.

            p.text(style = "font-size: 1.1em; text-align:justify") Who were these <i>garzoni</i> enroled as apprentices in Venice? Which professions were they learning? What was their wages? A real salary or simply a pair of schoes for the year? Where did they come from? From the next street, the neighbouring province, another country?
 
     
            p.text(style = "font-size: 1.1em; text-align:justify") This portal allows to explore (part of) the Garzoni data set, published as Linked Data, according to three perspectives: <i>Entity view</i>, to look closely at individuals, <i>Network view</i>, to see how people are connected and <i>Statistical dashboard</i>, to get an overview of different aspects of the data.

            
      .ui.five.column.stackable.grid.center.aligned.page(style="text-align: center; width: 100%")
        .row
          h1.ui.header(style="padding-top: 50px; font-size: 3em !important;") Explore the dataset
        .row
          .column
          a.column(href="/dashboard#entity")
            .ui.card
              .image
                img(src="/img/entity_img_landing.jpg" style="padding: 20px")
              .content
                .header
                  span Entity
                .description
                  span Search people by name, Query the SPARQL endpoint
          a.column(href="/dashboard#graph")
            .ui.card
              .image
                img(src="/img/graph_img_landing.png" style="padding: 20px")
              .content
                .header
                  span Graph
                .description
                  span Visualize the social graph
          a.column(href="/dashboard#statistics")
            .ui.card
              .image
                img(src="/img/statistics_img_landing.png" style="padding: 20px")
              .content
                .header
                  span Statistics
                .description
                  span Explore descriptive statistics
          .column

      .ui.grid.center.aligned.page(style="background-color: #eeeeee; width: 100%")
        .row
          h1.ui.header(style="padding-top: 50px; font-size: 3em !important;") SPARQL endpoint
        .row
          a.ui.segment(href="http://128.178.21.22:8890/sparql" style="font-size: 1em !important") http://128.178.21.22:8890/sparql

      .ui.grid.center.aligned.page(style="background-color: #1b1c1d; width: 100%")
        .row
          p(style="color: #bbbbbb") Digital Humanities Laboratory, EPFL.
            a(href="http://dhlab.epfl.ch/" target="_blank")  dhlab.epfl.ch
